<!--! Main Layout Container -->
<div class="min-h-screen grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 overflow-x-hidden">
  

  <!-- !Left Column  -->
  <div class=" lg:col-span-1 relative ">
    <!--! Sidebar  -->
    <app-auth-sidebar></app-auth-sidebar>
  </div>
  <!-- !Right Column  -->
  <div
    class=" col-span-1 xl:col-span-2 relative flex items-center justify-center flex-col xl:me-16 lg:me-6 min-h-screen lg:h-[80vh] lg:overflow-y-auto overflow-x-hidden">
    
    <!--! Top Navigation - Fixed -->
    <div
      class="flex items-center  justify-center w-full md:mt-0 mt-16 md:py-10 md:px-5  backdrop-blur-2xl bg-white/10 sticky top-0 left-0 right-0 z-10"
       dataAos="fade-left" dataAosDuration="1000" data-aos-delay="300">
      <!-- <div class="flex items-center space-x-4"> -->
      <div class="card flex justify-center">
        <p-select [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" placeholder="Select Language"
          class="w-full md:w-56" />
      </div>
      <div class="flex ">
        <span routerLink="/auth/sign-in" routerLinkActive="bg-blue-50 rounded-xl"
          class="text-main font-bold text-sm lg:text-lg  py-2.5 px-4 cursor-pointer mx-4 ">Sign in</span>
      </div>
      <!-- </div> -->
      <button routerLink="/auth/sign-up" routerLinkActive="bg-blue-50"
        class="px-4 py-2 border border-blue-200 text-main text-sm lg:text-lg rounded-xl hover:bg-blue-50 cursor-pointer ">
        Register
      </button>
    </div>
    <!--! Router Outlet Container - Scrollable -->
    <div class="flex-1 flex items-center justify-center ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>