<div class=" lg:bg-white custom-shadow  md:px-16 py-5 rounded-3xl w-full pt-40 lg:pt-5 mt-8">
    <div class="flex justify-between items-center my-4 text-main font-semibold ">
        <span>Diplomas</span>
        <span class="hidden lg:inline-block">View All</span>
    </div>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2 justify-center items-center ">
        <div
            class="col-span-1  w-[350px] h-[350px] md:h-[250px] md:w-[250px] 2xl:w-[350px] 2xl:h-[350px]   rounded-xl overflow-hidden relative shadow-2xl">
            <img src="imags/one.jpg" class="object-cover w-full h-full hover:scale-105 transition-all duration-200" alt="">
            <div class="absolute bottom-5 left-5 right-5 layer backdrop-blur-lg rounded-xl p-4">
                <h4 class="text-lg font-bold mb-1 text-white text-left">Front-end Web Development</h4>
                <p class="text-sm text-white/90 text-left">Voluptatem aut ut dignissimos blanditiis</p>
            </div>
        </div>
        <div
            class="col-span-1   w-[350px] h-[350px] md:h-[250px] md:w-[250px] 2xl:w-[350px] 2xl:h-[350px]  rounded-xl overflow-hidden relative shadow-2xl">
            <img src="imags/two.jpg" class="object-cover w-full h-full hover:scale-105 transition-all duration-200" alt="">
            <div class="absolute bottom-5 left-5 right-5 layer backdrop-blur-lg rounded-xl p-4">
                <h4 class="text-lg font-bold mb-1 text-white text-left">Android Development</h4>
                <p class="text-sm text-white/90 text-left">Voluptatem aut ut dignissimos blanditiis</p>
            </div>
        </div>
        <div
            class="col-span-1   w-[350px] h-[350px] md:h-[250px] md:w-[250px] 2xl:w-[350px] 2xl:h-[350px]  rounded-xl overflow-hidden relative shadow-2xl">
            <img src="imags/three.jpg" class="object-cover w-full h-full hover:scale-105 transition-all duration-200" alt="">
            <div class="absolute bottom-5 left-5 right-5 layer backdrop-blur-lg rounded-xl p-4">
                <h4 class="text-lg font-bold mb-1 text-white text-left">Flutter Development</h4>
                <p class="text-sm text-white/90 text-left">Voluptatem aut ut dignissimos blanditiis</p>
            </div>
        </div>
        <div
            class="col-span-1   w-[350px] h-[350px] md:h-[250px] md:w-[250px] 2xl:w-[350px] 2xl:h-[350px]  rounded-xl overflow-hidden relative shadow-2xl">
            <img src="imags/four.jpg" class="object-cover w-full h-full hover:scale-105 transition-all duration-200" alt="">
            <div class="absolute bottom-5 left-5 right-5 layer backdrop-blur-lg rounded-xl p-4">
                <h4 class="text-lg font-bold mb-1 text-white text-left">UI & UX Design</h4>
                <p class="text-sm text-white/90 text-left">Voluptatem aut ut dignissimos blanditiis</p>
            </div>
        </div>
        <div
            class="col-span-1   w-[350px] h-[350px] md:h-[250px] md:w-[250px] 2xl:w-[350px] 2xl:h-[350px]  rounded-xl overflow-hidden relative shadow-2xl">
            <img src="imags/five.jpg" class="object-cover w-full h-full hover:scale-105 transition-all duration-200" alt="">
            <div class="absolute bottom-5 left-5 right-5 layer backdrop-blur-lg rounded-xl p-4">
                <h4 class="text-lg font-bold mb-1 text-white text-left">AI & ML Development</h4>
                <p class="text-sm text-white/90 text-left">Voluptatem aut ut dignissimos blanditiis</p>
            </div>
        </div>
        <div
            class="col-span-1   w-[350px] h-[350px] md:h-[250px] md:w-[250px] 2xl:w-[350px] 2xl:h-[350px]  rounded-xl overflow-hidden relative shadow-2xl">
            <img src="imags/six.jpg" class="object-cover w-full h-full hover:scale-105 transition-all duration-200" alt="">
            <div class="absolute bottom-5 left-5 right-5 layer backdrop-blur-lg rounded-xl p-4">
                <h4 class="text-lg font-bold mb-1 text-white text-left">Back-End Web Development</h4>
                <p class="text-sm text-white/90 text-left">Voluptatem aut ut dignissimos blanditiis</p>
            </div>
        </div>

        <span class="block lg:hidden text-main font-semibold my-6">View All</span>

    </div>
</div>