<!--! Main Layout Container -->
<div class="min-h-screen bg-layout">
    <!--! Sidebar  -->
    <app-side-bar></app-side-bar>
    
    <div class="lg:ml-64 ml-0 flex flex-col min-h-screen">
        <div class="2xl:pe-24 2xl:px-0 xl:px-16 lg:px-18 px-4 mx-auto w-full ">
            <app-header (toggleSidebar)="onToggleSidebar()"></app-header>
            <!--! Router Outlet Container-->
            <div class="lg:mt-6 mt-20">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- Mobile sidebar overlay -->
<app-side-bar class="lg:hidden" [isOpen]="sidebarOpen" (closeSidebarEvent)="sidebarOpen = false"></app-side-bar>
