<div class="flex flex-col  h-[80vh] md:h-full bg-sec md:custom-rounded custom-rounded-sm custom-shadow overflow-hidden">
    <div class="lg:m-auto lg:ps-16 lg:pe-16 ">
        <div class="md:mb-8 mb-1 text-center md:text-left mt-6 md:mt-0 p-4 md:p-0">
            <h1 class="md:text-5xl text-3xl  font-bold text-gray-900 md:mb-8 mb-2 ">Welcome to</h1>
            <h2 class="md:text-5xl text-3xl font-bold text-main md:pe-10">Elevate</h2>
        </div>
        <p class="text-lg font-medium text-center md:text-left  text-black md:mb-12  max-w-lg p-4 md:p-0">
            Quidem autem voluptatibus qui quaerat aspernatur architecto natus
        </p>
        <div class="relative=">
            <div class="relative mx-auto md:mx-0  z-10 w-sm md:w-full p-10 md:p-0 ">
                <img src="/imags/auth.png" alt="student">
            </div>
        </div>
    </div>
</div>